*{
    margin: 0;
    padding: 0;
    font-family: Roboto Condensed,sans-serif!important;
    
}

.navbar{
    display: flex;
    /* align-items: center; */
    justify-content: space-between;
    background-color: #2874f0;
    /* height: 5rem; */
    margin-top: 0rem;
    padding-top: 0rem;
    
}



.navigation{
    display: flex;
    justify-content: space-between; 
    margin-left: 2rem;
    margin-right: 1rem;
    /* display: flex; */
    /* float: left; */
    /* list-style-type: none; */
    /* justify-content:space-around; */
    
    
  

}

#sear{
    height: 2.5rem;
    width: 40rem;
    /* align-self: center; */
    margin-right: 6rem;
    font-size: 1rem;
    padding-left: 1rem;
    
    /* margin-top: 1rem; */
}
#sear:focus{
    outline: none;
}

/* button */
#btn0{
    display: block;
    padding: 0.6rem 2.5rem;
    border-radius: 0rem;
    background-color: rgb(255, 255, 255);
    cursor: pointer;
    
}
#btn0 a{
    color: #2874f0;
    font-weight: lighter;
}



/* arrow down css */
.arrow {
    border: solid rgb(184, 184, 184);
    border-width: 0 3px 3px 0;
    display: inline-block;
    padding: 3px;
    margin-bottom: 2px;
}

.down {
    color: blue;
transform: rotate(45deg);
-webkit-transform: rotate(45deg);
}


ul > li{
    display: inline-block;
    justify-content: space-between;
    margin: 1rem;
}

/* li{
   
   
} */

li a{
    text-decoration: none;
    font-size: 1rem;
    color: #fff;
    font-weight: lighter;
    
}

.category{
    background-color: rgb(235, 235, 235);
    height: 8.25rem;
    border-bottom: groove;
    padding-bottom: 0px;
    text-align: center;
    
    /* overflow-x: scroll; */
    /* width: 100%; */
   
}

/* .category::-webkit-scrollbar{

    display: none;
} */

.category ul{
    display: flex;
    margin: auto 10rem;
    justify-content: space-around;
}
.category ul li a{
    font-size: 0.9rem;
    color: black;
}

.cat-images{
    padding-top: 0px;
    margin-top: 0rem;
}

.cat-images img{
    display: block;
    overflow: hidden;
    position: relative;
    border: solid 1px black;
    border-radius: 100%;
    background-color: #fff;
    
}


.cat-images li a:hover{
    color: #2874f0;
}

.category ul li p{
    padding-top: 0.5rem;
}



.container1{
    
    display: inline-flex;
    /* overflow: hidden; */
    overflow-x: auto;
    justify-content: space-between;
}

.container1 img{
    display: inline-flexbox;
}





